server {
    listen ${SERVER_PORT_HTML};
    server_name localhost;
    location / {
        root /${SHARED_DIR};
        index ${CUSTOM_HTML_FILE};
    }
}

server {
    listen ${SERVER_PORT_ERROR};
    server_name localhost;
    return ${HTTP_ERROR_CODE};
}
